.banner_section {
    width: 100%;
    aspect-ratio: 50/10;   
}

.hero_section {   
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero_title {   
    text-align: center;
    width: 15rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

.hero_title>p {
    font-size: 1.2rem;
    font-weight: 400;
}

.product_container {
   display: flex;
   gap: 2rem;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: space-between;
   min-width: 100%;   
}