.create_product_images > input{
    height: 3rem;
    width: 100%;
}

#createProductFormImage {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    overflow: auto;
  }
  
  #createProductFormImage > img {
    width: 3vmax;
    margin: 0 0.5vmax;
  }

  .create_product_container > form > h3{
    text-align: center;
    margin-bottom: 1rem;
  }

  .create_product_form{
    padding: 1rem;
  }

  .add_product_textarea textarea{
    min-height: 70px;
    max-height:500px;
    min-width: 100%;
    max-width: 100%;
  }