.admin_dashboard {
    min-width: 100%;
    min-height: 100%;
    padding: 2rem;
}

.dashboard_cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 5rem;
}

@media (max-width: 1390px) {
    .dashboard_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .dashboard_cards {
        grid-template-columns: 1fr;
    }
}

.charts_container {
    width: 100%;
}

.total_profits_chart {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
}

.total_profits_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.total_profits_heading h3 {
    margin: 0;
}

.total_profits_heading select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.pie_chart {
    max-width: 15rem;

}

.inStock_outOfStock_chart {

    text-align: center;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    border-radius: 8px;
}

.inStock_outOfStock_chart h3 {
    margin-bottom: 2rem;
}

.totalCountryWiseSalesData {
    flex-grow: 1;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    border-radius: 8px;
}

.totalCountryWiseSalesData h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.pie_world_map_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 5rem 0;
}

@media (max-width: 768px) {
    .pie_world_map_container {
        grid-template-columns: 1fr;
    }
}

.world_map_container {
    width: 100%;
    height: 100%;  
  
}

.world_map_container svg {
    width: 100%;
    height: auto;   
    max-width: 100%;
    background-position: center
  
}