.all_products_container {
    width: 100%;    
}

.all_products {
    width: 100%;
}

.productListTable {
    width: 100%;
    overflow-x: auto;   
}

.action_button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.action_button .pencil {
    padding-top: 10px;
}

#productListHeading {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .productListTable {
        font-size: 0.875rem;
   
    }

    #productListHeading {
        font-size: 1.25rem;    
    }
}