nav {
    /* position: sticky; */
    /* top: 0; */
}

.main_app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.unordered_list {
    display: flex;
    align-items: center;
    justify-content: center;
}


.shop_logo {
    margin-right: auto;
}

.nav_links {
    margin-right: auto;
    display: flex;
    gap: 1.2rem;
    font-size: var(--font-size-links);
}

.nav_links_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.anchor_tag:hover {
    color: red;
}