nav {
    justify-content: space-between;
    width: 100%;
  
}

.unordered_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: clamp(90px, 100px, 100px);

}

.search_product_media_screen {
    display: none;
}


/* .shop_logo {
    margin-right: auto;
} */

.nav_links {
    flex: 1;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    font-size: var(--font-size-links);
    height: 100%;

}

.nav_links_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.user_header_icon {
    position: relative;
    z-index: 99;

}

.user_header_icon:hover {
    cursor: pointer;
}

.user_profile_image {
    width: 40px;
    height: 40px;
}

.user_icon_info {
    padding: 10px 20px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 100;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* right: 20; */
}

.user_icon_info>div:hover {
    cursor: pointer;
}

.search_products,
.search_products_media_screen {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* margin:  0 10px; */
    gap: 0.9rem;
    flex-grow: 1;
    width: 100%;
    height: 70%;
    padding: 0 20px;
    background-color: #F0F5FF;
    border: 1px solid #F0F5FF;
}

.search_icon>* {
    /* border: 1px solid red; */
    /* align-self: flex-start; */
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_field {
    /* border: 1px solid red; */
    flex-grow: 1;
}

.search_field>input {
    outline: none;
    all: unset;
    width: 100%;
    padding: 0.2rem;
    font-size: 16px;
    min-height: 100%;
    /* border: 1px solid blue; */
}

@media (max-width: 730px) {
    .search_products {
        display: none;
    }

    .search_product_media_screen {
        display: block;
        height: clamp(90px, 100px, 100px);
    }

}