

.product-card:hover {
    transform: translateY(-3px);
    transition: transform 100ms ease-in-out
}

.card-content>p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}

.card-content>.product_price {
    color: green;
    font-weight: 900;
}

.product-image {
    width: 100%; 
    height: clamp(15rem, 18vw + 1rem, 25rem);  
}

.product-image>img {
    object-fit: contain;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 18px 10px;
}

.react-stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

