.checkOut_title {
    color: red;
}


.shipping_details_btn {
    background-color: var(--call-to-action-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.shipping_details_btn:hover {
    background-color: var(--call-to-action-hover-color);   
}

#shipping_title h3{
    color: rgba(0, 0, 0, 0.753);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 1vmax 0;
    text-align: center;
    width: 100%;
    margin: 0;
}


/* Disabled button styles */
.shipping_details_btn:disabled {
    cursor: not-allowed;
    background-color: #A5D6A7;
    color: #BDBDBD;
}

.toast-error {
    background-color: red !important;
    color: white !important;
}