.products_wrapper_grid {
    display: grid;
    padding: 2rem 1rem;
    grid-template-columns: 250px 1fr;
    align-items: start;
}

.filters {
    padding: 100px 15px 0;
    position: sticky; 
    top: 0;
}

.product_section {
    width: 100%;
    height: 100%;
}

.products_wrapper_main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.products_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
}

.products_wrapper li {
    max-width: 250px !important;
}

.price_slider {
    margin: 0 auto;
}

.category_box {
    padding: 0%;
}

.category_link {
    list-style: none;
    color: rgba(0, 0, 0, 0.61);
    font-size: 85%;
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
}

.category_link:hover {
    color: tomato;
}

.product_ratings {
    padding: 10px;
}

@media (max-width: 1200px) {
    .products_wrapper_grid {
        grid-template-columns: 1fr;
    }

    .filters {
        padding: 2rem 1rem;
        border: none;
        position: static;
    }
}

@media (max-width: 900px) {
    .products_wrapper_main {
        padding: 1rem;
    }

    .products_wrapper {
        flex-wrap: wrap;
        align-items: center;
    }

    .products_wrapper li {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .filters {
        padding: 1rem;
        position: static;
    }
}

@media (max-width: 600px) {
    .category_link {
        font-size: 75%;
        margin: 0.2vmax;
    }
}